.reviews {
    padding-bottom: 48px;
    &__block {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    &__round {
        width: 169px;
        height: 169px;
    }
    &__desc {
        margin-left: 62px;
        padding-right: 61px;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__text {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}